<h1><%= @user.username %>のユーザーページ</h1>
<% if @user.image? %>
  <%= image_tag @user.image.url %>
<% else %>
  <image src="/assets/default.jpg">
<% end %>
<p>プロフィール : <%= @user.profile %></p>
<section class="stats">
  <%= render 'devise/shared/stats' %>
</section>
<section>
  <%= render 'devise/shared/follow_form' if user_signed_in? %>
</section>
<div class="col-md-8">
    <% if @user.imageposts.any? %>
      <h3>Imageposts (<%= @user.imageposts.count %>)</h3>
      <ol class="imageposts">
        <% @user.imageposts.each do |post| %>
         <%= link_to post.id, "/imageposts/#{post.id}" %>
         <%= image_tag post.image.url %>
        <% end %>
      </ol>
    <% end %>
</div>

<%= link_to 'プロフィールの編集', edit_user_path(current_user) %>
<%= link_to '画像投稿ページ', new_imagepost_path(current_user) %>
